NODE_ENV=development
PORT=3001

PRODUCTION_URL = https://tiktaktime.de
DEVELOPMENT_URL = https://localhost:3000

PG_HOST=10.0.0.4
PG_PORT=5432
PG_USER=admin-user
PG_PASS=lXrAfs6vAW2kBUo
PG_DB_LIVE=tiktak-v2
PG_DB_TEST=tiktak-v2-test

S3_URL=https://cleanapps.blob.core.windows.net/tiktak/

REDIS_HOST = 10.0.0.4
REDIS_PORT = 6379
REDIS_PASS = eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81

# Clickup
CLICKUP_API_KEY=pk_222077596_9SDO8I8C4118B5IBQNOUKRSO2CB1XX3H